<h3>Contacts</h3>


<table class="table table-hover" ng-if="!$root.isMobile">
	<thead>
		<tr>
			<th ng-repeat="col in colLabels"> {{ col }} </th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="item in contacts" ng-click="editContact(item)">
			<td ng-repeat="col in colFields" ng-click="detail(item)">
				{{ item[col] }}
			</td>
		</tr>
	</tbody>
</table>

<div ng-if="$root.isMobile">
	 <md-list>
		<md-list-item class="md-3-line" ng-repeat="item in contacts" ng-click="editContact(item)">
			<img ng-src="{{ item.image_url || altImage }}" class="md-avatar" onError="this.src='http://uxrepo.com/static/icon-sets/ionicons/png32/128/000000/ios7-contact-128-000000.png'"/>
			<div class="md-list-item-text">
			  	<h3>{{ item.first_name + ' ' + item.last_name }}</h3>
			  	<h4><a ng-href="http://twitter.com/{{ item.twitter }}" ng-show="item.twitter">@{{ item.twitter }}</a></h4>
			  	<p>{{ item.notes || '' }}</p>
			</div>
			<md-divider ></md-divider>
		</md-list-item>
	</md-list>
</div>

<div class="text-center" ng-if="paginate.meta.count > paginate.limit">
	<md-button 
		class="md-raised md-primary" 
		ng-disabled="paginate.page === 0" 
		ng-click="loadData(paginate.page-1)">
		Previous
	</md-button>
	<md-button 
		class="md-raised md-primary" 
		ng-disabled="!paginate.meta.next" 
		ng-click="loadData(paginate.page+1)">
		Next
	</md-button>
</div>

<md-button class="md-fab btn-material-add" aria-label="Add contact" ng-click="addContact()">
	 <md-icon md-font-icon="fa-plus" class="fa fa-2x"></md-icon>
</md-button>