<h3>Groups</h3>


<table class="table table-hover" ng-if="groups.length && !$root.isMobile">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="item in groups" ng-click="addEdit(ev, item)">
			<td>{{ item.id }}</td>
			<td>{{ item.name }}</td>
		</tr>
	</tbody>
</table>

<div ng-if="$root.isMobile">
	 <md-list>
		<md-list-item class="md-3-line" ng-repeat="item in groups" ng-click="addEdit(ev, item)">
			<div class="md-list-item-text">
			  	<h3>{{ item.name }}</h3>
			</div>
			<md-divider ></md-divider>
		</md-list-item>
	</md-list>
</div>

<div class="text-center" ng-if="paginate.meta.count > paginate.limit">
	<md-button 
		class="md-raised md-primary" 
		ng-disabled="paginate.page === 0" 
		ng-click="loadData(paginate.page-1)">
		Previous
	</md-button>
	<md-button 
		class="md-raised md-primary" 
		ng-disabled="!paginate.meta.next" 
		ng-click="loadData(paginate.page+1)">
		Next
	</md-button>
</div>

<md-button class="md-fab btn-material-add" aria-label="Add contact" ng-click="addEdit(ev)">
	 <md-icon md-font-icon="fa-plus" class="fa fa-2x"></md-icon>
</md-button>